name: test
on:
- pull_request
jobs:
  fluent-postgres-driver_macos:
    strategy:
      fail-fast: false
      matrix:
        psql: ['postgresql@11', 'postgresql@12']
        include:
          # For arcane reasons of supposed forward compatibility, the formulae for
          # PostgreSQL are totally inconsistent in their data directory names.
          - psql: 'postgresql@11'
            dbroot: '/usr/local/var/postgresql@11'
          - psql: 'postgresql@12'
            dbroot: '/usr/local/var/postgres'
    runs-on: macos-latest
    steps:
    - run: sudo xcode-select -s /Applications/Xcode_11.4.app/Contents/Developer
    - run: brew uninstall --force libpq postgresql@11 postgresql@12 php
    - run: brew install ${{ matrix.psql }}
    - run: brew link --force ${{ matrix.psql }}
    - run: bash -c '[[ -d "${{ matrix.dbroot }}" ]] && mv "${{ matrix.dbroot }}" /usr/local/var/.outta-the-way || true'
    - run: mkdir -p /usr/local/var/log "${{ matrix.dbroot }}"
    - run: initdb --locale=C -E UTF-8 "${{ matrix.dbroot }}"
    - run: brew services start ${{ matrix.psql }}
    - run: sleep 4 # give the server a chance to settle
    - run: find /tmp -type s # CI debug
    - run: brew services list # CI debug
    - run: tail /usr/local/var/log/postgresql*.log # CI debug
      continue-on-error: true
    - run: which createuser # CI debug
    - run: createuser -d -l -s vapor_username
    - run: createdb -O vapor_username vapor_database
    - uses: actions/checkout@v2
    - run: swift test --enable-test-discovery --sanitize=thread
    - run: brew services stop ${{ matrix.psql }}
  fluent-postgres-driver_ubuntu:
    strategy:
      fail-fast: false
      matrix:
        psql: ['11', '11-alpine', '12', '12-alpine']
        base: ['xenial', 'bionic']
    container: 
      image: vapor/swift:5.2-${{ matrix.base }}-ci
    services:
      psql:
        image: postgres:${{ matrix.psql }}
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: vapor_username
          POSTGRES_DB: vapor_database
          POSTGRES_PASSWORD: vapor_password
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: swift test --enable-test-discovery --sanitize=thread
      env:
        POSTGRES_HOSTNAME: psql
