name: test
on:
- pull_request
jobs:
  fluent-postgres-driver_macos:
    strategy:
      fail-fast: false
      matrix:
        psql: ['postgresql@11', 'postgresql@12']
        include:
          # The PostgreSQL formulas don't use a consistent data dir
          - psql: 'postgresql@11'
            dbroot: '/usr/local/var/postgresql@11'
          - psql: 'postgresql@12'
            dbroot: '/usr/local/var/postgres'
    runs-on: macos-latest
    steps:
    - run: sudo xcode-select -s /Applications/Xcode_11.4.app/Contents/Developer
    - run: brew uninstall --force libpq postgresql@11 postgresql@12 php
    - run: brew install ${{ matrix.psql }}
    - run: brew link --force ${{ matrix.psql }}
    - run: bash -c '[[ -d "${{ matrix.dbroot }}" ]] && mv "${{ matrix.dbroot }}" /usr/local/var/.outta-the-way || true'
    - run: mkdir -p /usr/local/var/log "${{ matrix.dbroot }}"
    - run: initdb --locale=C -E UTF-8 "${{ matrix.dbroot }}"
    - run: brew services start ${{ matrix.psql }}
    - run: sleep 4 # give the server a chance to settle
    - run: createuser -d -l -s vapor_username
    - run: createdb -O vapor_username vapor_database
    - run: createdb -O vapor_username vapor_benchmark1
    - run: createdb -O vapor_username vapor_benchmark2
    - uses: actions/checkout@v2
    - run: swift test --enable-test-discovery --sanitize=thread
    - run: brew services stop ${{ matrix.psql }}
  fluent-postgres-driver_ubuntu:
    strategy:
      fail-fast: false
      matrix:
        psql: ['11', '11-alpine', '12', '12-alpine']
        base: ['xenial', 'bionic']
    container: 
      image: vapor/swift:5.2-${{ matrix.base }}-ci
    services:
      psql:
        image: postgres:${{ matrix.psql }}
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: vapor_username
          POSTGRES_DB: vapor_database
          POSTGRES_PASSWORD: vapor_password
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: |
        apt-get -q update
        apt-get -q install -y wget
        echo 'deb http://apt.postgresql.org/pub/repos/apt/ ${{ matrix.base }}-pgdg main' >/etc/apt/sources.list.d/pgdg.list
        wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
        apt-get -q update
        apt-get -q install -y postgresql-client-12
      name: Install Postgres Client
    - run: until echo | psql --host=$POSTGRES_HOSTNAME --username=vapor_username --password=vapor_password -c "SELECT 1"; do sleep 1; done;
      name: Wait for Database to Settle
      env:
        POSTGRES_HOSTNAME: psql
    - run: |
        createdb --host=$POSTGRES_HOSTNAME --username=vapor_username --password=vapor_password -O vapor_username vapor_benchmark1 
        createdb --host=$POSTGRES_HOSTNAME --username=vapor_username --password=vapor_password -O vapor_username vapor_benchmark2
      name: Create Databases
      env:
        POSTGRES_HOSTNAME: psql
    - run: swift test --enable-test-discovery --sanitize=thread
      name: Swift Test
      env:
        POSTGRES_HOSTNAME: psql
